/*--------------Main Page--------------*/
body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  body header {
    width: 100%;
    background-color: white; }
    body header nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 10px; }
      body header nav .nav-title {
        font-family: Arial;
        color: black;
        font-size: 50px;
        line-height: 2;
        margin-bottom: 0px; }
      body header nav .nav-a {
        font-size: 20px;
        color: black;
        margin-top: 37px;
        text-decoration: none; }
  body main {
    display: flex;
    flex-direction: column; }
    body main h1 {
      font-size: 25px;
      color: white;
      margin: 30px;
      text-align: center; }
    body main section {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      body main section .card {
        border: none; }
        body main section .card .btn {
          color: black;
          font-weight: bold;
          background-color: white;
          border: solid black 2px; }
        body main section .card .btn:hover {
          color: white;
          font-weight: bold;
          background-color: black;
          border: solid black 2px; }
  body footer {
    width: 100%;
    color: black;
    background-color: white;
    margin-top: 50px; }
    body footer .nav-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 10px; }
      body footer .nav-footer .footer-title {
        font-family: Arial;
        color: black;
        font-size: 50px;
        line-height: 4;
        margin-bottom: 0px; }
      body footer .nav-footer .footer-div {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-right: 50px; }
        body footer .nav-footer .footer-div .footer-p {
          font-size: 20px;
          color: black;
          margin-top: 37px;
          font-weight: bold;
          text-decoration: none; }
        body footer .nav-footer .footer-div .footer-a {
          font-size: 15px;
          color: black;
          text-decoration: none; }

/*--------------Detail--------------*/
.detail-main {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white; }
  .detail-main .detail-main-div {
    display: flex;
    flex-direction: row; }
    .detail-main .detail-main-div img {
      width: 20%; }
    .detail-main .detail-main-div .div-1 {
      width: 1400px;
      margin-bottom: 10px; }
      .detail-main .detail-main-div .div-1 .detail-title {
        font-size: 25px;
        font-weight: bolder;
        color: black;
        margin: 20px; }
      .detail-main .detail-main-div .div-1 .detail-text {
        font-size: 20px;
        color: black;
        margin-left: 20px;
        margin-bottom: 10px; }
      .detail-main .detail-main-div .div-1 .size-list {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-bottom: 0px; }
        .detail-main .detail-main-div .div-1 .size-list .size {
          color: white;
          background-color: black;
          border: solid black 3px;
          font-weight: bold;
          margin-bottom: 10px;
          padding-right: 10px;
          padding-left: 10px; }
        .detail-main .detail-main-div .div-1 .size-list .size:hover {
          color: black;
          background-color: white; }
      .detail-main .detail-main-div .div-1 .payment-methods {
        margin-left: 20px;
        margin-bottom: 10px; }
        .detail-main .detail-main-div .div-1 .payment-methods .methods {
          margin: 2px; }
      .detail-main .detail-main-div .div-1 .price {
        display: flex;
        flex-direction: row;
        margin-left: 20px; }
        .detail-main .detail-main-div .div-1 .price .detail-price {
          color: white;
          background-color: black;
          font-size: 20px;
          border: solid black 3px;
          padding-left: 5px;
          padding-right: 5px; }
        .detail-main .detail-main-div .div-1 .price .detail-sale {
          font-family: initial;
          color: black;
          background-color: white;
          font-size: 20px;
          border: solid black 3px;
          padding-left: 5px;
          padding-right: 5px; }
    .detail-main .detail-main-div .buy {
      width: 1200px;
      border-left: solid black 20px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .detail-main .detail-main-div .buy h1 {
        color: black;
        font-size: 25px; }
      .detail-main .detail-main-div .buy .buy-price {
        font-size: 25px; }
      .detail-main .detail-main-div .buy .buy-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .detail-main .detail-main-div .buy .buy-summary {
        font-weight: bold;
        font-size: 15px;
        margin-right: 100px; }
      .detail-main .detail-main-div .buy .buy-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 16px;
        border-top: solid black 1px; }
      .detail-main .detail-main-div .buy button {
        color: white;
        background-color: black;
        font-weight: bold;
        border: solid black 3px;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px; }
      .detail-main .detail-main-div .buy button:hover {
        color: black;
        background-color: white; }
