/*--------------Contact--------------*/
.contact-main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;

    .contact-title{
        font-size: 25px;
        font-weight: bolder;
        color: black;
        margin: 20px;
    }

    .contact-subtitle{
        font-size: 20px;
        font-weight: bolder;
        color: black;
        margin-bottom: 20px;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
            font-size: 20px;
            width: 300px;
            padding-left: 10px;
            margin-bottom: 20px;
            border: solid black 1.5px;
        }

        button{
            width: 150px;
            color: white;
            margin-bottom: 15px;
            background-color: black;
            font-weight: bold;
            border: solid black 3px;
        }

        button:hover{
            color: black;
            background-color: white;
        }

        .p-confirmation{
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
}